<div class="film-row">
  <h5 class="title-film">Trending Movies</h5>
  <owl-carousel-o [options]="customOptions" *ngIf="trendMoviesResults$ | async as trendMovies; else loading">
    <ng-template carouselSlide *ngFor="let trendMovie of trendMovies">
      <div class="movie-card">
        <div class="movie-card__image">
          <img src="https://image.tmdb.org/t/p/original/{{ trendMovie.poster_path }}"
               alt="{{ trendMovie.original_title }}">
        </div>
        <div class="movie-card__country">Release: {{ trendMovie.release_date }} </div>
        <div class="movie-card__name">{{ trendMovie.title }}</div>
        <div class="movie-card__rating">{{ trendMovie.vote_average | number:'1.1-1' }} / 10</div>
        <button [routerLink]="['/movie',trendMovie.id]" class="movie-card__btn">Watch</button>
      </div>

    </ng-template>
  </owl-carousel-o>

  <ng-template #loading>Loading...</ng-template>
</div>
