<div class="film-row">
  <h5 class="title-film">Science Movies</h5>
  <owl-carousel-o [options]="customOptions"
                  *ngIf="scienceMoviesResults$ | async as scienceMovies; else loading">
    <ng-template carouselSlide *ngFor="let scienceMovie of scienceMovies">
      <div class="movie-card">
        <div class="movie-card__image">
          <img src="https://image.tmdb.org/t/p/original/{{ scienceMovie.poster_path }}"
               alt="{{ scienceMovie.original_title }}">
        </div>
        <div class="movie-card__country">Release: {{ scienceMovie.release_date }} </div>
        <div class="movie-card__name">{{ scienceMovie.title }}</div>
        <div class="movie-card__rating">{{ scienceMovie.vote_average | number:'1.1-1' }} / 10</div>
        <button [routerLink]="['/movie',scienceMovie.id]" class="movie-card__btn">Watch</button>
      </div>

    </ng-template>
  </owl-carousel-o>

  <ng-template #loading>Loading...</ng-template>


</div>
