<div class="search">
  <div class="search__container">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
      <div class="form__row">
        <input type="text" class="form__input" formControlName="movieName" placeholder="Search Movie Here ...">

        <button class="form__btn">Search</button>
      </div>
    </form>
    <ng-container *ngIf="searchResults?.length === 0">
      Not results...
    </ng-container>
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="search__result">
      <div class="search__result-list">
        <div *ngFor="let searchResult of searchResults">
          <div class="search__result-item"  [routerLink]="['/movie',searchResult.id]">
          <div class="search__result-item-img" *ngIf="searchResult.poster_path">
            <img src="https://image.tmdb.org/t/p/original/{{ searchResult.poster_path }}"
                 >
          </div>
         <div class="search__result-item-title">
           {{searchResult.original_title}}
         </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
