<div class="film-row">
  <h5 class="title-film">Action Movies</h5>
  <owl-carousel-o [options]="customOptions" *ngIf="animationMoviesResults$ | async as animationMovies; else loading">
    <ng-template carouselSlide *ngFor="let animationMovie of animationMovies">
      <div class="movie-card">
        <div class="movie-card__image">
          <img src="https://image.tmdb.org/t/p/original/{{ animationMovie.poster_path }}"
               alt="{{ animationMovie.original_title }}">
        </div>
        <div class="movie-card__country">Release: {{ animationMovie.release_date }} </div>
        <div class="movie-card__name">{{ animationMovie.title }}</div>
        <div class="movie-card__rating">{{ animationMovie.vote_average | number:'1.1-1' }} / 10</div>
        <button [routerLink]="['/movie',animationMovie.id]" class="movie-card__btn">Watch</button>
      </div>

    </ng-template>
  </owl-carousel-o>

  <ng-template #loading>Loading...</ng-template>


</div>
