.loader{
  width: 100%;
  height: 100%;

  text-align: center;


  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}

/*
  Set the color of the icon

*/

svg{
  width: 130px;
  height: 130px;
}
svg path,
svg rect{

  fill: red;
}
