<div class="contain-fluid">
    <div class="wrapper">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let bannerResult of bannerResults;let i=index">
            <img src="https://image.tmdb.org/t/p/original/{{ bannerResult.backdrop_path }}" class="d-block w-100" alt="{{ bannerResult.original_title }}">
          <div class="info">
            <div class="info__wrapper">
              <div class="info__title">{{bannerResult.original_title || bannerResult.name}}</div>
              <div class="info__grade">
                {{bannerResult.vote_average}} / 10</div>
              <div class="info__overview">{{getShortenedOverview(bannerResult.overview, 180) }}</div>

              <button class="btn info__btn" [routerLink]="['/movie', bannerResult.id]" >More</button>
            </div>
          </div>
        </ng-template>
    </owl-carousel-o>
    </div>
</div>
