<div class="film-row">

  <h5 class="title-film">Documentary Movies</h5>
  <owl-carousel-o [options]="customOptions"
                  *ngIf="documentaryMoviesResults$ | async as documentaryMovies; else loading">
    <ng-template carouselSlide *ngFor="let documentaryMovie of documentaryMovies">
      <div class="movie-card">
        <div class="movie-card__image">
          <img src="https://image.tmdb.org/t/p/original/{{ documentaryMovie.poster_path }}"
               alt="{{ documentaryMovie.original_title }}">
        </div>
        <div class="movie-card__country">Release: {{ documentaryMovie.release_date }} </div>
        <div class="movie-card__name">{{ documentaryMovie.title }}</div>
        <div class="movie-card__rating">{{ documentaryMovie.vote_average | number:'1.1-1' }} / 10</div>
        <button [routerLink]="['/movie',documentaryMovie.id]" class="movie-card__btn">Watch</button>
      </div>

    </ng-template>
  </owl-carousel-o>

  <ng-template #loading>Loading...</ng-template>


</div>
