*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background: black;
  color: white;
}

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.owl-theme .owl-nav{
  display: none;
}

